/* VideoPlayer.css */
.player-overlay {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-wrapper {
  width: 90%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  
  
}
